<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Brands pages</title>
  </head>
  <body>
    {{#each cate}}
    {{name}}
    {{/each}}
    this should show brands
  </body>
</html>
