<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Brands pages</title>
  </head>
  <body>
  <p>BRANDS</p>
  <div>
    {{#each brands}}
      <ul>
      <li><a href=products/{{brand}}>{{brand}}</a></li>
      </ul>
    {{/each}}
  </div>
  </body>
</html>
