<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dupes</title>
  </head>
  <body>
    <div class="header">
      <h1>Dupes</h1>
    </div>

    <div class="subheading">
      <h3>DUPES</h3>
    </div>

    <div class="dupes">
      {{#each dupes}}
        <ul>
        <li>{{brand}}</li>
        <li>{{name}}</li>
        <li>{{colour}}</li>
        <li>{{price}}</li>
        </ul>
      {{/each}}
    </div>

  </body>
</html>
