<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dupes</title>
  </head>
  <body>
<h1>DUPES</h1>
{{#each dupes}}
  <ul>
  <li>{{brand}}</li>
  <li>{{name}}</li>
  <li>{{colour}}</li>
  <li>{{price}}</li>
  </ul>
{{/each}}
<p>
  this should show dupes
</p>
  </body>
</html>
