<!-- index page to show cate table -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dupes</title>
  </head>
  <body>
    <h1>Categories</h1>
    {{#each cate}}
    <a href="brands/{{id}}">{{category}}</a>
    {{/each}}
  </body>
</html>
