<!-- index page to show cate table -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dupes</title>
  </head>
  <body>
    <p>Welcome..</p>
    {{#each cate}}
    {{category}}
    {{/each}}
  </body>
</html>
