<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Products</title>
  </head>
  <body>
    <h1>PRODUCTS</h1>
    <div>
      {{#each products}}
        <ul>
        <li>{{name}}</li>
        <li><a href=dupes/{{id}}>{{colour}}</a></li>
        {{price}}
        </ul>
      {{/each}}
    </div>
  </body>
</html>
